@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Rubik:wght@400;700&display=swap');

/*font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;*/

:root {
  --main-color: #26223B;
  --secondary-color: #D38C88;
  --tertiary-color: #6B829A;
  --neultral-color: #FCFDFE;
}
.team{
  height: 150%;
}
.team-container{
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 90%;
  align-items: flex-start;
  height: 100%;
}
.team-container > img {
  width: 770px;
}
.team-aligner{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}
.team-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.14em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #d38c88;
  padding: 0 0 0 0;
  border-bottom: 5px solid black;
  width: fit-content;
  margin: 0 0 0 3em;
}

