@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Rubik:wght@400;700&display=swap");

/*font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;*/

:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #fcfdfe;
}

.teamCard {
  width: 22em;
  height: 28.5em;
  background-color: var(--main-color);
  border: 3px solid #2e273e;
  box-sizing: border-box;
  border-radius: 10px;

}
.teamCard-container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.teamCard-container > div{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.teamCard-container > div > div > a > img {
    width: 2.5em;
}
.teamCard-container > img{
    width: 11em;
}

.teamCard-container > h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.1em;

  /* identical to box height */
  letter-spacing: 0.14em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #ffffff;
}
