:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #e5e5e5;
}

.display-none {
  display: none;
}

.login-root {
  display: flex;
  flex-flow: row;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login-bg>img {
  width: 100%;
}

.password-text {
  color: var(--neultral-color);
  font-family: "Rubik";
  font-size: 0.7rem;
  padding: 0.5rem 0 0 0;
}

.login {
  padding: 0em;
  background-color: var(--main-color);
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-evenly;
  border-radius: 0 3% 3% 0;
}

.login-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.login-container>div>h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;

  color: var(--neultral-color);
}

.login-container>div {
  width: 30rem;
  margin: 1rem;
  position: relative;
}

.login-container>div>select,
input {
  height: 1.5rem !important;
  margin: 0;
  height: 1rem;
  width: 100%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--main-color);
  border-style: none;
  border-bottom: 1px solid var(--neultral-color);
  color: var(--neultral-color);
  border-radius: 0;
  outline: 0;
}

.login-aligner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  width: 100%;
}

.login-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 49px;

  color: var(--neultral-color);
}

.have-login {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rrem;
  line-height: 2rem;
  color: var(--neultral-color);
}

.have-login>a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rrem;
  line-height: 2rem;
  color: var(--secondary-color);
}

.login-btn-aligner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.login-btn-align {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.adress-aligner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.adress-aligner>div>h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;

  color: var(--neultral-color);
}

.adress-aligner>div {
  width: 45%;
}

.password-eye {
  width: 2em;
  position: absolute;
  right: 0;
  top: 1px;
  bottom: 1px;
  z-index: 5;
}

.message-alert {
  color: var(--neultral-color);
  font-family: "Rubik";
  font-size: 0.7rem;
  padding: 0.5rem 0 0 0;
  display: none;
}