.dash-board-home-body {
  margin-left: 18rem;
  position: relative;
  height: 100vh;
}
.overview-card-dash{
  position: absolute;
  left: 1rem;
  top: 1em;
}
.near-expire-items-list-dash {
  position: absolute;
  right: 1rem;
  top: 1em;
}
.money-chart-dash {
  position: absolute;
  left: 1rem;
  bottom: 1em;
}
.near-end-itens-dash {
  position: absolute;
  right: 1rem;
  bottom: 1em;
}
