:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #fcfdfe;
}
.sidebar {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  align-items: center;
  position: fixed;
  z-index: 2 !important;
}
.sidebar-container-short {
  height: 100vh;
  background-color: var(--main-color);
  width: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  animation: sidebarGrowShort 0.5s normal;
}
.sidebar-container-long {
  height: 100vh;
  background-color: var(--main-color);
  width: 18rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  animation: sidebarGrowLong 0.5s normal;
}
@keyframes sidebarGrowLong {
  from {
    width: 9em;
  }
  to {
    width: 18em;
  }
}
@keyframes sidebarGrowShort {
  from {
    width: 18em;
  }
  to {
    width: 9em;
  }
}
.sidebar-photo-short {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.sidebar-photo-long {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}
.sidebar-logout-long {
  width: 3em;
  height: 3em;
}
.sidebar-logout-short {
  width: 2em;
  height: 2em;
}
.sidebar-grow-btn {
  width: 2em;
}
.sidebar-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 33px;
  margin: 1em 0;
  color: var(--neultral-color);
}
.sidebar-photo-box {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.sidebar-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.sidebar-outer-icon{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}