:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #e5e5e5;
}
.bar-meter {
  display: flex;
  flex-flow: row;
}
.bar-meter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.bar-meter-colorless{
  background-color: var(--neultral-color) !important;
  width: 100px;
  height: 5px;
  margin: 5px;
  display: block
}
.bar-meter-green {
  background-color: #47ef0c;
  width: 100px;
  height: 5px;
  margin: 5px;
  display: block;
}
.bar-meter-red{
  background-color: #FD264D;
  width: 100px;
  height: 5px;
  margin: 5px;
  display: block;
}
.bar-meter-yellow{
  background-color: #FFF740;
  width: 100px;
  height: 5px;
  margin: 5px;
  display: block;
}
.bar-meter-container p{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--neultral-color);
}
