:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #e5e5e5;
}
.bar-meter-container {
  display: flex;
  flex-flow: row;
}
.bar-meter-green{
    background-color: #47EF0C;
    
}
