.ingredient-card-body {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 20rem;
  height: 4rem;
  margin: 0 !important;
}
.ingredient-card-body > img{
  width: 2.5em;
  margin:0 1rem;
}
.card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  /* identical to box height, or 20px */

  color: #344767;
}
.card-amount {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: .8rem;
  line-height: 140%;
  /* identical to box height, or 17px */

  color: #2f2e41;
}
