@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Rubik:wght@400;700&display=swap");

/*font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;*/

:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #fcfdfe;
}

.footer {
  height: 15em;
  background-color: #acb8c4;
}

.footer-container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.address-cellNumber > h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  letter-spacing: 0.14em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #000000;
}

.social-media > a{
    margin: 1em;
}
