.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.error-page > img{
    height: 100%;
}

.arrow{
    position: absolute;
    width: 2rem;
    top: 0;
    left: 0;
    

}