@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Rubik:wght@400;700&display=swap");

/*font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;*/

:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #fcfdfe;
}

.home {
  position: relative;
  width: 100%;
  height: 57.45em;
}
.arrow {
  position: absolute;
  bottom: 12em;
  animation: arrowMovement 1s infinite;
}

@keyframes arrowMovement {
  0% {
    transform: translatey(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translatey(10px);
  }
}
.home-container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bg-home {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: -1;
}
.home-aligner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.home-text-box {
  margin: 2em;
}
.home-title-box {
  margin: 0 0 2em 0;
}

.home-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 126%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #29233b;
}
.home-paragraph {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 138.5%;

  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #616161;
}
