@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Rubik:wght@400;700&display=swap");

/*font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;*/

:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #fcfdfe;
}
.contact{
  margin: 5em 0;
}
.contact-container {
  margin: auto;
  display: flex;
  flex-flow: column;
  width: 90%;
  align-items: flex-start;
  height: 100%;
}
.contact-aligner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.contact-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.14em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #d38c88;
  padding: 0 0 0 0;
  border-bottom: 5px solid black;
  width: fit-content;
  margin: 0 0 2em 3em;
}
.contact-aligner > div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.contact-aligner > div > div > h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.14em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--main-color);
}
.contact-aligner > div > div > input, select , textarea{
  margin: 0.5em 0 1.5em 0;
  border: 2px solid #D38C88;
  box-sizing: border-box;
  border-radius: 10px;
  width: 30em;
  height: 2.5em !important;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.14em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--main-color);
  background-color: var(--neultral-color);
  padding: 0 0 0 1rem;
}
.describe{
  height: 6em !important;
  resize: none;
}
