@keyframes dashGrow {
  from {
    margin-left: 12rem;
  }
  to {
    margin-left: 20rem;
  }
}
@keyframes dashShrink {
  from {
    margin-left: 20rem;
  }
  to {
    margin-left: 12rem;
  }
}
.dash-board-home-body-short {
  margin-left: 12rem;
  position: relative;
  height: 100vh;
  animation: dashShrink 0.5s normal;
}
.dash-board-home-body-grow {
  margin-left: 20rem;
  position: relative;
  height: 100vh;
  animation: dashGrow 0.5s normal;
}
.overview-card-dash {
  position: absolute;
  left: 2rem;
  top: 1em;
}
.near-expire-items-list-dash {
  position: absolute;
  right: 2rem;
  top: 1em;
}
.money-chart-dash {
  position: absolute;
  left: 2rem;
  bottom: 1em;
}
.near-end-itens-dash {
  position: absolute;
  right: 2rem;
  bottom: 1em;
}