@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #26223b;
  --secondary-color: #d38c88;
  --tertiary-color: #6b829a;
  --neultral-color: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--secondary-color) var(--neultral-color);
}
body {
  background-color: #e5e5e5;
}
a{
  cursor: pointer;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--neultral-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 3px none var(--neultral-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
  border-radius: 10px;
  border: 3px none var(--neultral-color);
}
/* width 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
*/
@media (max-width: 1366px) {
  * {
    font-size: 12px;
  }
  .arrow {
    bottom: 0 !important;
  }
  /* .bg-home {
  position: absolute;
  right: 0;
  height: 45em
} */
}
@media (max-width: 866px) {
  * {
    font-size: 12px;
  }
  .arrow {
    bottom: 0 !important;
  }
  img {
    display: none;
  }

  .imgImportant {
    display: block !important;
  }
  /* .bg-home {
  position: absolute;
  right: 0;
  height: 45em
} */
}
