.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
.error-page > img{
    height: 100%;
}
.back-error-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
}